<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ma.wallet.dao.WalletRefundBillMapper">
  <resultMap id="BaseResultMap" type="com.ma.wallet.model.WalletRefundBill">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="REFUND_NO" jdbcType="VARCHAR" property="refundNo" />
    <result column="PAY_NO" jdbcType="OTHER" property="payNo" />
    <result column="REFUND_TYPE" jdbcType="DECIMAL" property="refundType" />
    <result column="BUYER_ID" jdbcType="DECIMAL" property="buyerId" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="ORDER_NOTE" jdbcType="VARCHAR" property="orderNote" />
    <result column="CASH_AMOUNT" jdbcType="DECIMAL" property="cashAmount" />
    <result column="UNCASH_AMOUNT" jdbcType="DECIMAL" property="uncashAmount" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="REFUND_NOTE" jdbcType="VARCHAR" property="refundNote" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>