<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ma.wallet.dao.WalletAccountChangeMapper">
  <resultMap id="BaseResultMap" type="com.ma.wallet.model.WalletAccountChange">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ACCOUNT_ID" jdbcType="DECIMAL" property="accountId" />
    <result column="BUYER_ID" jdbcType="DECIMAL" property="buyerId" />
    <result column="CHANGE_TYPE" jdbcType="DECIMAL" property="changeType" />
    <result column="PRE_AMOUNT" jdbcType="DECIMAL" property="preAmount" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="CASH_AMOUNT" jdbcType="DECIMAL" property="cashAmount" />
    <result column="UNCASH_AMOUNT" jdbcType="DECIMAL" property="uncashAmount" />
    <result column="REF_ID" jdbcType="DECIMAL" property="refId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>